<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<title>Fitness</title>
</head>
<body>

<h1>Edit Client</h1>
<a href="/home">Home</a>

	<p th:text = "${userName}"></p>
	<p th:text = "${user.name}"></p>
	<p th:text = "${user.id}"></p>
	<p th:text = "${user.type}"></p>

	<div class="container">
		<div class="row">
	    	<div class="col-4">
	    		<form method="POST" action="save-client" th:object="${client}">
	    			<input type="hidden" name="id" th:field="*{id}">
	    		
					<div class="mb-3">
				  		<label class="form-label">Nome</label>
				  		<input type="text" class="form-control" name="name" th:field="*{name}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Sexo</label>
				  		<input type="text" class="form-control" name="sex" th:field="*{sex}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Data de nascimento</label>
				  		<input type="text" class="form-control" name="birthDate" th:field="*{birthDate}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Username (email)</label>
				  		<input type="email" class="form-control" name="userName" th:field="*{userName}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Password</label>
				  		<input type="text" class="form-control" name="password" th:field="*{password}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Informações adicionais</label>
				  		<input type="text" class="form-control" name="detail" th:field="*{detail}">
					</div>
					
					<input type="hidden" name="type" th:value="*{type}">
					<input type="hidden" name="status" th:value="*{status}">
					<input type="hidden" name="idPersonalTraining" th:value= "*{idPersonalTraining}">
					
					<input type="submit" name="salvar" value="Salvar">
			
				</form>  
	    	</div>
	    	
		    <div class="col-8">
		 		Outro conteúdo
		    </div>
	  	</div>
	</div>

	
	
</body>
</html> 