<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<title>Fitness</title>
</head>
<body>

<h1>Cliente</h1>
<h3><a href="/logout"> Sair </a></h3>
<a href="/home">Home</a>

	<p th:text = "${userName}"></p>
	<p th:text = "${user.name}"></p>
	<p th:text = "${user.id}"></p>
	<p th:text = "${user.type}"></p>

	<div class="container">
		<div class="row">
	    	<div class="col-4">
	    		<form method="POST" action="save-client">  		
					<div class="mb-3">
				  		<label class="form-label">Nome</label>
				  		<input type="text" class="form-control" name="name">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Sexo</label>
				  		<input type="text" class="form-control" name="sex">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Username (email)</label>
				  		<input type="email" class="form-control" name="userName" placeholder="name@example.com">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Password</label>
				  		<input type="text" class="form-control" name="password">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Informações adicionais</label>
				  		<input type="text" class="form-control" name="detail">
					</div>
					
					<input type="hidden" name="type" value="CLIENT">
					<input type="hidden" name="status" value="1">
					<input type="hidden" name="idPersonalTraining" th:value= "${user.id}">
					
					<input type="submit" name="salvar" value="Salvar">
			
				</form>  
	    	</div>
	    	
		    <div class="col-8">
		    	<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nome</th>
				      <th scope="col">Sexo</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each = "client : ${clientList}">
				      <th th:text = "${client.id}"></th>
				      <td th:text = "${client.name}"></td>
				      <td th:text = "${client.sex}"></td>
				      <td>
				      	<a th:href="@{/client-edit/{id}(id=${client.id})}">EDITAR</a>
				      	<a th:href="@{/client-delete/{id}(id=${client.id})}">EXCLUIR</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
		    </div>
	  	</div>
	</div>

	
	
</body>
</html> 