<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Medidas e Avaliação | Seja bem-vindo')"></head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<nav th:replace="fragments/fragments :: menu"></nav>
		</div>
	</div>
	
	<div sec:authorize="hasAnyRole('ROLE_ADMIN')">
	
		<div class="row">
	    	<div class="col-3">
	        	<div class="card text-center">
	            	<div class="card-header">
	                	Personal Training
	              	</div>
	              	
	              	<div class="card-body">
	              		<h1 class="card-title">134</h1>
	              	</div>
	            </div>
	        </div>
	        
	        <div class="col-3">
	        	<div class="card text-center">
	            	<div class="card-header">
	                	Alunos
	              	</div>
	              	
	              	<div class="card-body">
	              		<h1 class="card-title">134</h1>
	              	</div>
	            </div>
	        </div>
	          
	        <div class="col-3">
	        	<div class="card text-center">
	            	<div class="card-header">
	                	Avaliações físicas
	              	</div>
	              	
	              	<div class="card-body">
	              		<h1 class="card-title">134</h1>
	              	</div>
	            </div>
	        </div>
	    
	    	<div class="col-3">
	        	<div class="card text-center">
	            	<div class="card-header">
	                	Pendentes
	              	</div>
	              	
	              	<div class="card-body">
	              		<h1 class="card-title">134</h1>
	              	</div>
	            </div>
	        </div>
	    </div>
	
	</div>
	
	<div class="row">
		<div class="col-12">
			<footer th:replace="fragments/fragments :: footer"></footer>
		</div>
	</div>
</div>
	
</body>
</html> 