<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Medidas e Avaliação | Personal Training')"></head>
<body>

<h1>Personal Training</h1>
<h3><a href="/logout"> Sair </a></h3>
<a href="/home">Home</a>

	<p th:text = "${userName}"></p>
	<p th:text = "${user.name}"></p>
	<p th:text = "${user.id}"></p>
	<p th:text = "${user.type}"></p>

	<div class="container">
		<div class="row">
	    	<div class="col-4">
	    		<form method="POST" action="save-personal-training">  		
					<div class="mb-3">
				  		<label class="form-label">Nome</label>
				  		<input type="text" class="form-control" name="name">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Sexo</label>
				  		<input type="text" class="form-control" name="sex">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Telefone</label>
				  		<input type="text" class="form-control" name="phone">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Data de nascimento</label>
				  		<input type="text" class="form-control" name="birthDate" placeholder="xx/xx/xxxx">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Usuário (email)</label>
				  		<input type="email" class="form-control" name="userName" placeholder="name@example.com">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Senha</label>
				  		<input type="text" class="form-control" name="password">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">CREF</label>
				  		<input type="text" class="form-control" name="cref">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Especialidade</label>
				  		<input type="text" class="form-control" name="especialty">
					</div>
					
					<input type="hidden" name="type" value="PERSONAL-TRAINING">
					<input type="hidden" name="status" value="1">
					<input type="hidden" name="level" value="1">
					
					<input type="submit" name="salvar" value="Salvar">
			
				</form>  
	    	</div>
	    	
		    <div class="col-8">
		    	<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nome</th>
				      <th scope="col">Sexo</th>
				      <th scope="col">Especialidade</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each = "personalTraining : ${personalTrainingList}">
				      <th th:text = "${personalTraining.id}"></th>
				      <td th:text = "${personalTraining.name}"></td>
				      <td th:text = "${personalTraining.sex}"></td>
				      <td th:text = "${personalTraining.especialty}"></td>
				      <td>
				      	<a th:href="@{/personal-training-edit/{id}(id=${personalTraining.id})}">EDITAR</a>
				      	<a th:href="@{/personal-training-delete/{id}(id=${personalTraining.id})}">EXCLUIR</a>
				      </td>
				    </tr>
				  </tbody>
				</table>
		    </div>
	  	</div>
	</div>

	
	<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html> 