<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Medidas e Avaliação | Editar Personal Training')"></head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav th:replace="fragments/fragments :: menu"></nav>
			</div>
		</div>

		<div class="row">

	    	<div class="col-4">
	    		<form method="POST" action="save-personal-training" th:object="${personalTraining}">
	    			<input type="hidden" name="id" th:field="*{id}">
	    		
					<div class="mb-3">
				  		<label class="form-label">Nome</label>
				  		<input type="text" class="form-control" name="name" th:field="*{name}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Sexo</label>
				  		<input type="text" class="form-control" name="sex" th:field="*{sex}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Telefone</label>
				  		<input type="text" class="form-control" name="phone" th:field="*{phone}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Data de nascimento</label>
				  		<input type="text" class="form-control" name="birthDate" th:field="*{birthDate}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Usuário (email)</label>
				  		<input type="email" class="form-control" name="userName" th:field="*{userName}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">CREF</label>
				  		<input type="text" class="form-control" name="cref" th:field="*{cref}">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Especialidade</label>
				  		<input type="text" class="form-control" name="especialty" th:field="*{especialty}">
					</div>
					
					<input type="hidden" name="type" th:value="*{type}">
					<input type="hidden" name="status" th:value="*{status}">
					<input type="hidden" name="level" th:value="*{level}">
					<input type="hidden" name="password" th:value="*{password}">
					
					<input type="submit" name="salvar" value="Salvar">
			
				</form>  
	    	</div>
	    	
		    <div class="col-8">
		 		Outro conteúdo
		 		
		 		
		 		<a th:href="@{/reset-password-personal-training/{id}(id=${personalTraining.id})}">Resetar Senha</a>
		 		<p>A nova senha será o email já cadastrado como usuário</p>
		 		
		 		
		 		<form method="POST" action="reset-password-personal-training" th:object="${personalTraining}">
	    			<input type="hidden" name="id" th:field="*{id}">
				  	<input type="hidden" name="name" th:value="*{name}">
				  	<input type="hidden" name="sex" th:value="*{sex}">
				  	<input type="hidden" name="phone" th:value="*{phone}">
				  	<input type="hidden" name="birthDate" th:value="*{birthDate}">
				  	<input type="hidden" name="userName" th:value="*{userName}">
				  	<input type="hidden" name="cref" th:value="*{cref}">
				  	<input type="hidden" name="especialty" th:value="*{especialty}">
					<input type="hidden" name="type" th:value="*{type}">
					<input type="hidden" name="status" th:value="*{status}">
					<input type="hidden" name="level" th:value="*{level}">
					<input type="hidden" name="password" th:value="*{userName}">
					
					<input type="submit" name="reset-password" value="Resetar Senha">
				</form>
		    </div>
	  	</div>
	  	
	  	<div class="row">
			<div class="col-12">
				<footer th:replace="fragments/fragments :: footer"></footer>
			</div>
		</div>
	  	
	</div>

</body>
</html> 