<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Medidas e Avaliação | Pollock 7 dobras')"></head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav th:replace="fragments/fragments :: menu"></nav>
			</div>
		</div>

		<div class="row">

	    	<div class="col-4">
	    		<form method="POST" action="save-pollock7fold">  		
	    			
					<select name="id_client">
					  <option th:each ="c : ${listClient}" th:value="${c.id}" th:text="${c.name}"></option>
					</select>
					
					<div class="mb-3">
				  		<label class="form-label">Peso</label>
				  		<input type="text" class="form-control" name="weight">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Altura</label>
				  		<input type="text" class="form-control" name="height">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Subescapular</label>
				  		<input type="text" class="form-control" name="subscapular">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Axiliar Média</label>
				  		<input type="text" class="form-control" name="midAxiliary">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Tríceps</label>
				  		<input type="text" class="form-control" name="triceps">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Coxa</label>
				  		<input type="text" class="form-control" name="thigh">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Supra-ilíaca</label>
				  		<input type="text" class="form-control" name="suprailiac">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Abdômen</label>
				  		<input type="text" class="form-control" name="abdomen">
					</div>
					
					<div class="mb-3">
				  		<label class="form-label">Peitoral</label>
				  		<input type="text" class="form-control" name="pectoral">
					</div>
					
					<input type="hidden" name="date" th:value="${#dates.format(#dates.createNow(),'dd/MM/yyyy')}">
					<input type="hidden" name="namePhysicalTest" value="Pollock 7">
					<input type="hidden" name="id_personalTraining" th:value= "${user.id}">
					
					<input type="submit" name="salvar" value="Salvar">
			
				</form>  
	    	</div>
	    	
		    <div class="col-8">
		    	outro conteúdo
		    	
		    	
		    	<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Data</th>
				      <th scope="col">Relatório</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				     <tr th:each = "person : ${listPhysicalTestPerson}">
				      <th th:text = "${person.id}"></th>
				      
				      <td th:text = "${person.name}"></td>
				      
				      <td th:text = "${person.date}"></td>
				      <td>
				      
				      </td>
				      link
				      	
				      <td>
				      	<a th:href="@{/pollock7fold-edit/{id}(id=${person.id})}">EDITAR</a>  
				      	| EXCLUIR
				      </td>
				    </tr>
				  </tbody>
		    	</table>
		    	
		    </div>
	  	</div>
	  	
	  	<div class="row">
			<div class="col-12">
				<footer th:replace="fragments/fragments :: footer"></footer>
			</div>
		</div>
	  	
	</div>

</body>
</html> 